html, body, container, .search-area {
  height: 100vh;
}

body {
    background-color: #fafafa;
}

h2 {
    font-weight: 700;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit-button-div {
    padding-left: 36px !important;

}

.submit-button {
    border-radius: 8px;
}

.search-form {
    margin-top: 96px;
}

 .row .input-field input:focus {
   border-bottom: 1px solid #303f9f !important;
   box-shadow: 0 1px 0 0 #303f9f !important
 }

