html, body, container, .search-area {
  height: 100vh;
}

body {
    background-color: #fafafa;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit-button-div {
    padding-left: 36px !important;

}

.submit-button {
    border-radius: 8px;
}

.search-form {
    margin-top: 96px;
}
