html, body, .container {
    height: 100vh;
    font-family: 'Red Hat Text', sans-serif !important;
}

body {
    background-color: #fafafa;
}

input {
    font-family: 'Red Hat Text', sans-serif !important;
    /*border-bottom: 1px solid #7986cb !important;*/
}

.submit-button-div {
    padding-left: 36px !important;

}

.submit-button {
    font-family: 'Red Hat Text', sans-serif !important;
    border-radius: 8px;
}

.row .input-field input:focus {
    border-bottom: 1px solid #7986cb !important;
    box-shadow: 0 1px 0 0 #7986cb !important
}
