html, body, container, .card-area {
  height: 100vh;
}

body {
    background-color: #e8eaf6;
}

.card {
    border-radius: 10px;
}

.card .card-title {
    font-weight: 700;
}

.card .card-content {
    border-radius: 0 0 10px 10px;
}

.tabs .indicator {
    background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: transparent
}
