html, body, container, .card-area {
    height: 100vh;
    font-family: 'Red Hat Text', sans-serif !important;
}

body {
    background-color: #e8eaf6;
}

.card {
    border-radius: 10px;
}

.card .card-title {
    font-weight: 700;
}

.card .card-content {
    border-radius: 0 0 10px 10px;
}

.tabs .indicator {
    background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: transparent
}

.scroll-box {
    overflow-y: scroll;
    max-height: 100px;
    padding: 1rem
}

.lyric-section {
    padding-bottom: 1rem;
}

.album-cover {
    max-height: 300px;
}
