body {
    background-color: #F2F2F2;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-family: Roboto;
    color: #86C5d8;
}

.input-form {
    text-align: center;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.padding{
    border: 3px solid #86C5d8;
}
