html, body, container, .search-area {
    height: 100vh;
    font-family: 'Red Hat Text', sans-serif !important;
}

body {
    background-color: #fafafa;
}

h2 {
    font-weight: 700;
}

input {
    font-family: 'Red Hat Text', sans-serif !important;
    /*border-bottom: 1px solid #7986cb !important;*/
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit-button-div {
    padding-left: 36px !important;

}

.submit-button {
    font-family: 'Red Hat Text', sans-serif !important;
    border-radius: 8px;
}

.home-separator {
    margin-top: 96px;
}

.row .input-field input:focus {
    border-bottom: 1px solid #7986cb !important;
    box-shadow: 0 1px 0 0 #7986cb !important
}
