<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/static/home-custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
<div class="container">
    <div class="row valign-wrapper search-area">
        <div class="col s8 offset-s2">
            <div class="">
                <h2>Find Your Song 🎵</h2>
                <h5 class="grey-text">Billboard Year End Top 100, 1965-2015</h5>
            </div>
            <div class="home-separator">
                <form action="/result/" method="post">
                    {%  csrf_token %}
                    <div class="input-field">
                        <input type="text" class="col s8 indigo-text text-darken-1"  id="songTitle" name="songTitle" placeholder="Search Here...">
                        <div class="col s4 submit-button-div">
                            <button class=" col s12 submit-button btn waves-effect waves-light indigo darken-1" type="submit" name="action">
                                Search
                                <i class="material-icons right">search</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    //var instance = M.Tabs.init(el, options);

    $(document).ready(function(){
        $('.tabs').tabs();
        $('button[type="submit"]').attr('disabled', true);

        $('input[type="text"]').on('keyup', function () {
            var text_value = $('input[name="songTitle"]').val();
            if (text_value != '') {
                $('button[type="submit"]').attr('disabled', false);
            } else {
                $('button[type="submit"]').attr('disabled', true);
            }
        });
    });
</script>
</html>

