<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/static/result-custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Result</title>
</head>
<body>
<div class="container">
    <div class="row valign-wrapper result-content">
        <div class="col s4">
            <form action="/result/" method="post">
                {% csrf_token %}
                <div class="input-field">
                    <input type="text" value="{{ song_name }}" class="col s8 indigo-text text-darken-1" id="songTitle" name="songTitle"
                           placeholder="Search Here...">
                    <div class="col s4 submit-button-div">
                        <button class="submit-button btn waves-effect waves-light indigo darken-1"
                                type="submit" name="action">
                            <i class="material-icons">search</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col s8">
            <h3>Song Result</h3>
            <div class="section">
                {% if song_detail %}
                    <table class="striped highlight" id="myTable">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for x in song_detail %}
                            <tr data-href="/song-detail/{{ song_name_url }}/{{ forloop.counter0 }}">
                                {% for y in x %}
                                    <td>
                                        {{ y }}
                                    </td>
                                {% endfor %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="materialert error">
                        <div class="material-icons">error_outline</div>
                        No songs found, try searching for another song name.
                    </div>
                {% endif %}

            </div>
            <div class="section">
                <ul class="pagination pager center-align" id="myPager"></ul>
            </div>
            {% comment %}<ul class="collection">
                {% for x in song_detail %}
                    {% for y in x %}
                        <li class="collection-item">{{ y }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>{% endcomment %}
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>#}
<script src="http://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/pinzon1992/materialize_table_pagination/f9a8478f/js/pagination.js"></script>

<script>
    //var instance = M.Tabs.init(el, options);

    $(document).ready(function(){
        M.updateTextFields();

        $('#myTable').pageMe({
            pagerSelector:'#myPager',
            activeColor: 'indigo darken-1',
            prevText:'Anterior',
            nextText:'Siguiente',
            showPrevNext:true,
            hidePageNumbers:false,
            perPage:5
        });

        $('button[type="submit"]').attr('disabled', true);

        $('input[type="text"]').on('keyup', function () {
            var text_value = $('input[name="songTitle"]').val();
            if (text_value != '') {
                $('button[type="submit"]').attr('disabled', false);
            } else {
                $('button[type="submit"]').attr('disabled', true);
            }
        });

    });

    $('tr[data-href]').on("click", function() {
        document.location = $(this).data('href');
    });

</script>
</html>


