<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/static/song-detail-custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,700&display=swap" rel="stylesheet">

    <title>Song Detail</title>
</head>
<body>
<div class="container">
    <div class="row valign-wrapper card-area">
        <div class="col s6">
            <h2>Song Detail 🎶</h2>
        </div>


        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title indigo-text text-darken-4">{{ title }}</span>
                </div>
                <div class="divider"></div>

                <div class="card-content">
                    <p><b>Artist:</b> {{ artist }}</p>
                    <p><b>Album:</b> {{ album }}</p>
                    <p><b>Album Cover:</b> <a href="{{ cover }}">Link</a></p>

                    <div class="section">
                        <p><b>Billboard Year and Rank</b></p>

                        <table class="" id="billboard">
                            <thead>
                            <tr>
                                {% for x in byear %}

                                    <th>
                                        {{ x }}
                                    </th>

                                {% endfor %}
                            </tr>

                            </thead>
                            <tbody>
                            <tr>
                                {% for y in brank %}

                                    <td>
                                        {{ y }}
                                    </td>

                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a class="active indigo-text text-darken-4" href="#abstract-content">ABSTRACT</a></li>
                        <li class="tab"><a class = "indigo-text text-darken-4" href="#lyrics-content">LYRICS</a></li>
                    </ul>
                </div>
                <div class="card-content scroll-box indigo lighten-4">
                    <div id="abstract-content">{{ abstract }}</div>
                    <div id="lyrics-content">
                        <div class="lyric-section">{{ lyrics }}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    //var instance = M.Tabs.init(el, options);

    $(document).ready(function(){
        $('.tabs').tabs();
    });
</script>
</html>

